@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}



/* Preloader CSS (using Tailwind CSS utility classes) */
#preloader {
    @apply fixed top-0 left-0 w-full h-full bg-[#d0d0d0] z-50;
    @apply flex justify-center items-center;
  }
  
  .spinner {
    @apply flex justify-center items-center;
  }
  
  .double-bounce1, .double-bounce2 {
    @apply bg-gray-600 rounded-full w-12 h-12;
    @apply animate-bounce;
  }
  
  .double-bounce2 {
    @apply delay-1000;
  }




  