main{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    border: 1.5px solid rgb(179, 179, 179);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    width: 300px;
    height: 380px;
    background-color: rgb(221, 221, 221);
    transition:  ease 0.2s;
}

.card-container:hover{
    box-shadow: 0px 10px 25px gray;
    background-color: rgb(235, 234, 234);

}

.card-container:active{
    box-shadow: none;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 12px;
    text-overflow: clip;
    
}

.heading{
    font-weight: 500;
    font-size: 13px;
    color: rgb(29, 26, 46);
    text-align: justify;
}

.date{
    font-size: 11px;
    font-weight: 400;
    color: rgb(145, 144, 146);
    font-style: italic;
}

.description{
    font-size: 13px;
    color: rgb(98, 98, 100);
    font-weight: 400;
    text-align: justify;

}

